@charset "UTF-8";

.swiper-container{
	width: 100%;
	height: 100%;
	position: absolute;
	
}

.s1{
	width: 100%;
	height: 100%;
	background: url(../images/t1-bg.png) center 0 no-repeat;
	background-size: cover;
}

.s1 .a1{
	background: url(../images/t1-yuan.png) center 0 no-repeat;
	width: 100%;
	height: 80%;
	margin: 0 auto;
	position: absolute;
	top:20%;
}

.s1 .a2{
	background: url(../images/t1-text.png) center 0 no-repeat;
	width: 100%;
	height: 80%;
	margin: 0 auto;
	position: absolute;
	top:25%;
}